$white: #FFFFFF;
$black: #000000;

$color-header-nav: #232323;
$color-preloader: #1e1e24;

$color-title: #012B34;
$color-main: #000402;
$color-gray: #E6E6E6;
$color-active: #02818A;

$color-slider-main: #42567A;
$color-btn-colored: #3877EE;
$color-btn-colored-active: #2255aa;
$color-btn-bordered: #303E58;
